@media screen and (max-width: 600px) {
    .footer{
        padding: 10px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #2A3E6B;
    }
}


.footer{
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#2A3E6B ;
}